# The URL of your Supabase project
SUPABASE_URL=https://oljrdhgdnhtvuychdcrk.supabase.co

# The 'anon' public key or 'service_role' key 
# (For a backend, service_role is more powerful, but anon works for basic CRUD)
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9sanJkaGdkbmh0dnV5Y2hkY3JrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4NDk2MjAsImV4cCI6MjA4NDQyNTYyMH0.38KYdbqoOKxYISwZgn84aVZwRqZZn2w2ahhuTYY_lFw

# Flask configuration (optional for local development)
FLASK_APP=app.py
FLASK_DEBUG=1